<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
  <link rel="stylesheet" href="./style/main.css">
  <title>Document</title>
</head>
<body class="mdui-theme-primary-light-blue mdui-drawer-body-right mdui-appbar-with-toolbar mdui-loaded">

  <div id="sudoku" v-cloak>
    <!-- 新游戏对话框 -->
    <div class="mdui-dialog" id="restart">
      <div class="mdui-dialog-title">确认开始新游戏?</div>
      <div class="mdui-dialog-content">你将丢失当前游戏进度</div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        <button class="mdui-btn mdui-ripple" @click="start(9, 2)" mdui-dialog-confirm>确定</button>
      </div>
    </div>
    <!-- 游戏完成提示对话框 -->
    <div class="mdui-dialog" id="complete">
      <div class="mdui-dialog-title">恭喜！你已完成该题目</div>
      <div class="mdui-dialog-content">是否进行新游戏?</div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        <button class="mdui-btn mdui-ripple" @click="start(9, 2)" mdui-dialog-confirm>确定</button>
      </div>
    </div>

    <mdui-header :title="'Sudoku'" :github="'https://github.com/Styx11/Sudoku'">
      <template slot="menu">
        <a class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#menu'}">
            <i class="mdui-icon material-icons mdui-text-color-white">more_vert</i>
        </a>
        <ul class="mdui-menu" id="menu">
          <li v-if="size" class="mdui-menu-item mdui-ripper" mdui-dialog="{target: '#restart'}">
              <a class="mdui-ripple">新游戏</a>
          </li>
          </div>
          <li v-if="size" class="mdui-menu-item mdui-ripper" @click="reset">
            <a class="mdui-ripple">重置</a>
          </li>
          <li class="mdui-menu-item mdui-ripper">
            <a href="javascript:;">Help & feedback</a>
          </li>
          <li class="mdui-menu-item mdui-ripper">
            <a>Settings</a>
          </li>
        </ul>
      </template>
    </mdui-header>

    <div class="game">
    <game-grid
      v-if="size"
      :grid="gameGrid"
      :origin-grid="originGrid"
    ></game-grid>
    <button
      v-else
      class="selector-btn mdui-shadow-2 mdui-ripple mdui-color-light-blue mdui-text-color-white"
      mdui-dialog="{target: '#selector'}">选择游戏</button>
    </div>
    <game-selector @start="start($event.size, $event.level)"></game-selector>

    <game-keyboard></game-keyboard>
  </div>
  
  <script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./components/game_grid.js"></script>
  <script src="./components/game_keyboard.js"></script>
  <script src="./components/mdui_header.js"></script>
  <script src="./components/game_selector.js"></script>
  <script src="./js/localStorage_manager.js"></script>
  <script src="./js/grid.js"></script>
  <script src="./js/entrance.js"></script>
</body>
</html>