.game {
  position: relative;
  width: 100%;
}

.game-grid {
  width: 100%;
  height: 55%;
  margin: 0 auto;
  text-align: center;
  font-size: .8rem;
}
.grid-row:nth-child(3n) {
  border-bottom: 1px solid #000;
}
.grid-cell {
  height: 2.4rem !important;
  width: 2.4rem !important;
  display: flex;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.grid-cell:nth-child(3n) {
  border-right: 1px solid #000;
}
.grid-cell:hover {
  background-color: rgb(201, 225, 249);
}
.grid-cell-marked {
  background-color: rgb(182, 216, 247);
}
.grid-cell-marked-incorrect {
  background-color: rgb(240, 208, 208);
}
@media only screen and (min-width: 768px) {
  .game-grid {
    width: 30rem;
    height: 30rem;
  }
  .grid-cell {
    font-weight: 400;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 320px) {
  .grid-cell {
    height: 2rem !important;
    width: 2rem !important;
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.selector-btn {
  position: absolute;
  top: 10rem;
  left: 6rem;
  width: 12rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
}
/* iPhone 5/SE */
@media only screen and (max-width: 320px) {
  .selector-btn {
    top: 8rem;
    left: 5.2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}
/* Galaxy S5 */
@media only screen and (min-width: 360px) {
  .selector-btn {
    top: 10rem;
    left: 6.4rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}
/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) {
  .selector-btn {
    top: 10rem;
    left: 6.7rem;
    width: 10.5rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}
/* iPhone 6/7/8 Plus */
@media only screen and (min-width: 411px) {
  .selector-btn {
    top: 11.5rem;
    left: 6.4rem;
    width: 13.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }
}
/* iPhone X */
@media only screen and (min-height: 812px) {
  .selector-btn {
    top: 14rem;
    left: 6.4rem;
    width: 11rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }
}
/* iPad */
@media only screen and (min-width: 768px) {
  .selector-btn {
    top: 15rem;
    left: 16rem;
    width: 16rem;
    height: 5rem;
    border-radius: 2.5rem;
    font-size: 1.6rem;
  }
}
/* iPad Pro */
@media only screen and (min-width: 1024px) {
  .selector-btn {
    top: 22rem;
    left: 21.2rem;
    width: 22rem;
    height: 7rem;
    border-radius: 3.5rem;
    font-size: 2rem;
  }
}

.keyboard {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background-color: rgb(243, 243, 243);
}
.keyboard-input {
  float: left;
  width: 75%;
  height: 100%;
}
.keyboard-tile {
  width: 5.3rem;
  height: 3.6rem;
  margin: .28rem;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: .2rem;
  background-color: rgb(214, 215, 215);
}
.keyboard-operate {
  float: right;
  width: 25%;
  height: 100%;
}

/* iPhone X */
@media only screen and (max-height: 812px) {
  .keyboard {
    height: 25%;
  }
}
/* iPhone 6/7/8 Plus */
@media only screen and (max-height: 736px) {
  .keyboard {
    height: 30%;
  }
}
/* iPhone 5/SE */
@media only screen and (max-width: 320px) {
  .keyboard-tile {
    width: 4.4rem;
    height: 3rem;
  }
}
/* Galaxy S5 */
@media only screen and (min-width: 360px) {
  .keyboard-tile {
    width: 5rem;
    height: 3.4rem;
  }
}
/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) {
  .keyboard-tile {
    width: 5.2rem;
    height: 3.6rem;
  }
}
/* iPhone 6/7/8 Plus, Pixel2 */
@media only screen and (min-width: 411px) {
  .keyboard-tile {
    width: 5.8rem;
    height: 4rem;
    font-size: 1.3rem;
  }
}
/* iPad */
@media only screen and (min-width: 768px) {
  .keyboard-tile {
    width: 11.2rem;
    height: 5.7rem;
    font-size: 2rem;
  }
}
/* iPad Pro */
@media only screen and (min-width: 1024px) {
  .keyboard-tile {
    width: 15rem;
    height: 7.8rem;
    font-size: 2.5rem;
  }
}