.game-grid {
  width: 100%;
  height: 55%;
  margin: 0 auto;
  text-align: center;
  font-size: .8rem;
}
.grid-row:nth-child(3n) {
  border-bottom: 1px solid #000;
}
.grid-cell {
  height: 2.4rem !important;
  width: 2.4rem !important;
  display: flex;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.grid-cell:nth-child(3n) {
  border-right: 1px solid #000;
}
@media only screen and (min-width: 768px) {
  .game-grid {
    width: 30rem;
    height: 30rem;
  }
  .grid-cell {
    font-weight: 400;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 320px) {
  .grid-cell {
    height: 2rem !important;
    width: 2rem !important;
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.keyboard {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background-color: rgb(243, 243, 243);
}
.keyboard-input {
  float: left;
  width: 75%;
  height: 100%;
}
.keyboard-tile {
  width: 5.3rem;
  height: 3.6rem;
  margin: .28rem;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: .2rem;
  background-color: rgb(214, 215, 215);
}
.keyboard-operate {
  float: right;
  width: 25%;
  height: 100%;
}

@media only screen and (min-width: 414px) {
  .keyboard-tile {
    width: 5.8rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 320px) {
  .keyboard-tile {
    width: 4.4rem;
    height: 3rem;
  }
}